<md-content>
    <md-list flex ng-repeat="(key, value) in main.weather.list | groupBy: 'sort_day'">
        <md-subheader class="md-no-sticky"></md-subheader>
        <h2>{{main.getDay(value[0].dt_txt)}}</h2>
        <md-list-item class="md-3-line" ng-click="null" ng-repeat="item in value">         
            <!-- <img ng-src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png" class="md-avatar" alt="{{item.who}}" /> -->
            <div class="md-list-item-text" layout="column">
                <h3><strong>{{main.formatDate(item.dt_txt)}}</strong></h3>
                <h3><strong>Low: </strong>{{ item.main.temp_min }} <strong>High: </strong>{{ item.main.temp_max }}</h3>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    
</md-content>
