
    <h3>Humdity</h3>
    <svg class="humidity-graph"></svg>
    
    <h3>Low Temp</h3>
    <svg class="low-temp-graph"></svg>

    <h3>High Temp</h3>
    <svg class="high-temp-graph"></svg>
    </md-content>