html, body {
  margin: 0;
  height: 100%
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

svg {
  height:120px;
  max-width: 980px;
  margin: 0 auto;
}

.bar {
  fill: #0080FF
}

.main-temp {
  font-size: 6em;
}

.main-temp, .current-forecast-icon {
  float: left;
}

.current-forecast-icon {
  margin-top:80px;
  margin-right: 30px;
}

.clear {
  clear: both;
}

[role="tabpanel"] {
  transition: none;
}