<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body ng-app="weatherApp" ng-cloak>
    <div class="wrapper">
    <div ng-controller="Main as main">
      <md-toolbar layout="row" class="md-hue-3">
          <div class="md-toolbar-tools">
              <span>{{main.weather.city.name}} Weather</span>
          </div>
      </md-toolbar>
      <% include ../partials/tabs.ejs %>
    </div>
    <% include ../partials/script-footer.ejs %>
  </body>
</html>
